<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2017-04-18-RIP-General.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>514791871.73075598</real>
				<key>lastModification</key>
				<real>514791871.73075598</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>2017-04-19-RIP-Configuration.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>514791524.57813698</real>
				<key>lastModification</key>
				<real>514791524.57813698</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>100</integer>
				</dict>
			</dict>
			<key>2017-04-19-RIP-Timers.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>514793555.77547097</real>
				<key>lastModification</key>
				<real>514793555.77547097</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>2017-04-19-RIPng-General.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>515021299.57499999</real>
				<key>lastModification</key>
				<real>515021299.57499999</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>105</integer>
				</dict>
			</dict>
			<key>2017-04-19-RIPv2-Authentication.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>514793564.05834001</real>
				<key>lastModification</key>
				<real>514793564.05834001</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>104</integer>
				</dict>
			</dict>
			<key>2017-04-19-RIPv2-Configuration.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>514791945.61717898</real>
				<key>lastModification</key>
				<real>514791945.61717898</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>102</integer>
				</dict>
			</dict>
			<key>2017-04-19-RIPv2-General.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>514789224.00319898</real>
				<key>lastModification</key>
				<real>514789224.00319898</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>99</integer>
				</dict>
			</dict>
			<key>2017-04-21-IP-Routing-General---.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>515261550.840895</real>
				<key>lastModification</key>
				<real>515261550.840895</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>112</integer>
				</dict>
			</dict>
			<key>3.4.1.0.99.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>515021526.55335099</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>108</integer>
				</dict>
			</dict>
			<key>3.4.1.0.99.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>515021571.85636902</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>110</integer>
				</dict>
			</dict>
			<key>3.4.1.1.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>514788851.429245</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>97</integer>
				</dict>
			</dict>
			<key>3.4.1.1.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>514786130.01823503</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>3.4.1.1.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>514786187.254834</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>3.4.1.1.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>514786218.39785099</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>3.4.1.1.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>514786248.12523502</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>3.4.1.1.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>514786280.74266201</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>3.4.1.2.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>514786505.32308501</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>3.4.1.3.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>514786577.458983</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>3.4.1.3.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>514786626.06131297</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>3.4.1.4.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>514786849.46743</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>43</integer>
				</dict>
			</dict>
			<key>3.4.1.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>514786767.72115302</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>3.4.1.5.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>514786918.34318697</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>47</integer>
				</dict>
			</dict>
			<key>3.4.1.5.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>514786972.42072803</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>3.4.1.6.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>514787034.11984903</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>55</integer>
				</dict>
			</dict>
			<key>3.4.1.6.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>514787099.21009099</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>59</integer>
				</dict>
			</dict>
			<key>3.4.1.6.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>514787119.94457603</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>63</integer>
				</dict>
			</dict>
			<key>3.4.1.6.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>514787145.671839</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>67</integer>
				</dict>
			</dict>
			<key>3.4.1.6.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>514787172.23904002</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>71</integer>
				</dict>
			</dict>
			<key>3.4.1.6.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>514787216.229837</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>75</integer>
				</dict>
			</dict>
			<key>3.4.1.6.7.md</key>
			<dict>
				<key>lastModification</key>
				<real>514787247.23007202</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>79</integer>
				</dict>
			</dict>
			<key>3.4.1.7.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>514787339.95610601</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>83</integer>
				</dict>
			</dict>
			<key>3.4.1.7.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>514787380.12857503</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>3.4.1.7.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>514787412.22063398</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>91</integer>
				</dict>
			</dict>
			<key>3.4.2.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>514788401.55803299</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>95</integer>
				</dict>
			</dict>
			<key>3.4.2.99.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>515021360.08059502</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>106</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>514795640.40875697</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-04-18-RIP-General.md</string>
		</array>
		<array>
			<string>3.4.1.1.1.md</string>
		</array>
		<array>
			<string>3.4.1.1.2.md</string>
		</array>
		<array>
			<string>3.4.1.1.3.md</string>
		</array>
		<array>
			<string>3.4.1.1.4.md</string>
		</array>
		<array>
			<string>3.4.1.1.5.md</string>
		</array>
		<array>
			<string>3.4.1.1.6.md</string>
		</array>
		<array>
			<string>3.4.1.2.1.md</string>
		</array>
		<array>
			<string>3.4.1.3.1.md</string>
		</array>
		<array>
			<string>3.4.1.3.2.md</string>
		</array>
		<array>
			<string>3.4.1.4.md</string>
		</array>
		<array>
			<string>3.4.1.4.2.md</string>
		</array>
		<array>
			<string>3.4.1.5.1.md</string>
		</array>
		<array>
			<string>3.4.1.5.2.md</string>
		</array>
		<array>
			<string>3.4.1.6.1.md</string>
		</array>
		<array>
			<string>3.4.1.6.6.md</string>
		</array>
		<array>
			<string>3.4.1.6.7.md</string>
		</array>
		<array>
			<string>3.4.1.7.1.md</string>
		</array>
		<array>
			<string>3.4.1.7.2.md</string>
		</array>
		<array>
			<string>3.4.1.7.3.md</string>
		</array>
		<array>
			<string>3.4.2.1.md</string>
		</array>
		<array>
			<string>3.4.1.6.2.md</string>
		</array>
		<array>
			<string>3.4.1.6.3.md</string>
		</array>
		<array>
			<string>3.4.1.6.4.md</string>
		</array>
		<array>
			<string>3.4.1.6.5.md</string>
		</array>
		<array>
			<string>2017-04-19-RIP-Timers.md</string>
		</array>
		<array>
			<string>3.4.1.0.99.1.md</string>
		</array>
		<array>
			<string>3.4.1.0.99.2.md</string>
		</array>
		<array>
			<string>2017-04-19-RIP-Configuration.md</string>
		</array>
		<array>
			<string>2017-04-19-RIPv2-General.md</string>
		</array>
		<array>
			<string>2017-04-19-RIPv2-Authentication.md</string>
		</array>
		<array>
			<string>2017-04-19-RIPng-General.md</string>
		</array>
		<array>
			<string>2017-04-19-RIPv2-Configuration.md</string>
		</array>
		<array>
			<string>3.4.2.99.1.md</string>
		</array>
		<array>
			<string>2017-04-21-IP-Routing-General---.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
			<integer>112</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
