<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2017-04-18-RIP-General.md</key>
			<dict>
				<key>lastModification</key>
				<real>514756498.448116</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-19-RIP-Classful-Routing.md</key>
			<dict>
				<key>lastModification</key>
				<real>514756498.44811797</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-19-RIP-Configuration.md</key>
			<dict>
				<key>lastModification</key>
				<real>514756498.44811797</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-19-RIP-Messages.md</key>
			<dict>
				<key>lastModification</key>
				<real>514756498.44811797</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-19-RIP-Timers.md</key>
			<dict>
				<key>lastModification</key>
				<real>514756498.44811702</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-19-RIPng-Configuration.md</key>
			<dict>
				<key>lastModification</key>
				<real>514756498.44812101</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-19-RIPng-General.md</key>
			<dict>
				<key>lastModification</key>
				<real>514756498.44812</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-19-RIPv2-Authentication.md</key>
			<dict>
				<key>lastModification</key>
				<real>514756498.44811898</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-19-RIPv2-Configuration.md</key>
			<dict>
				<key>lastModification</key>
				<real>514756498.44812</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-19-RIPv2-General.md</key>
			<dict>
				<key>lastModification</key>
				<real>514756498.44811898</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-21-IP-Routing-General---.md</key>
			<dict>
				<key>lastModification</key>
				<real>514756498.44812101</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>3.4.1.1.1 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>514756531.452443</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-04-18-RIP-General.md</string>
		</array>
		<array>
			<string>3.4.1.1.1 - TBC.md</string>
		</array>
		<array>
			<string>2017-04-19-RIP-Timers.md</string>
		</array>
		<array>
			<string>2017-04-19-RIP-Messages.md</string>
		</array>
		<array>
			<string>2017-04-19-RIP-Classful-Routing.md</string>
		</array>
		<array>
			<string>2017-04-19-RIP-Configuration.md</string>
		</array>
		<array>
			<string>2017-04-19-RIPv2-General.md</string>
		</array>
		<array>
			<string>2017-04-19-RIPv2-Authentication.md</string>
		</array>
		<array>
			<string>2017-04-19-RIPng-General.md</string>
		</array>
		<array>
			<string>2017-04-19-RIPv2-Configuration.md</string>
		</array>
		<array>
			<string>2017-04-19-RIPng-Configuration.md</string>
		</array>
		<array>
			<string>2017-04-21-IP-Routing-General---.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
