<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2013-12-31-whats-jekyll.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>509318537.06232703</real>
				<key>lastModification</key>
				<real>509318537.06232703</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>2014-01-01-example-content.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>509318530.91120398</real>
				<key>lastModification</key>
				<real>509318530.91120398</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>2014-01-02-introducing-lanyon.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>509318534.15951401</real>
				<key>lastModification</key>
				<real>509318534.15951401</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>2017-02-20-Git.md</key>
			<dict>
				<key>lastModification</key>
				<real>509319546.44117898</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2017-02-20-Hello-World.md</key>
			<dict>
				<key>lastModification</key>
				<real>509319521.770356</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>2017-02-20-VLANs.md</key>
			<dict>
				<key>lastModification</key>
				<real>509320886.45471102</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>2017-02-21-Access-Ports.md</key>
			<dict>
				<key>lastModification</key>
				<real>509370972.80973601</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>23</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>2017-02-21-Allowed-VLANs.md</key>
			<dict>
				<key>lastModification</key>
				<real>509395294.733217</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>37</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2017-02-21-DTP.md</key>
			<dict>
				<key>lastModification</key>
				<real>509394334.06249499</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>30</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2017-02-21-Dot1q.md</key>
			<dict>
				<key>lastModification</key>
				<real>509387508.06077999</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>26</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>4</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2013-12-31-whats-jekyll.md</string>
		</array>
		<array>
			<string>2014-01-02-introducing-lanyon.md</string>
		</array>
		<array>
			<string>2014-01-01-example-content.md</string>
		</array>
		<array>
			<string>2017-02-20-Hello-World.md</string>
		</array>
		<array>
			<string>2017-02-20-Git.md</string>
		</array>
		<array>
			<string>2017-02-20-VLANs.md</string>
		</array>
		<array>
			<string>2017-02-21-Access-Ports.md</string>
		</array>
		<array>
			<string>2017-02-21-Dot1q.md</string>
		</array>
		<array>
			<string>2017-02-21-DTP.md</string>
		</array>
		<array>
			<string>2017-02-21-Allowed-VLANs.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
			<integer>37</integer>
			<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
