<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2017-02-20-Git.md</key>
			<dict>
				<key>lastModification</key>
				<real>509319546.44117898</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2017-02-20-Hello-World.md</key>
			<dict>
				<key>lastModification</key>
				<real>509319521.770356</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>2017-02-20-VLANs.md</key>
			<dict>
				<key>lastModification</key>
				<real>509320886.45471102</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>2017-02-21-Access-Ports.md</key>
			<dict>
				<key>lastModification</key>
				<real>509370972.80973601</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>23</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>2017-02-21-Allowed-VLANs.md</key>
			<dict>
				<key>lastModification</key>
				<real>509395294.733217</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>37</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2017-02-21-DTP.md</key>
			<dict>
				<key>lastModification</key>
				<real>509394334.06249499</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>30</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2017-02-21-Dot1q.md</key>
			<dict>
				<key>lastModification</key>
				<real>509387508.06077999</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>26</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2017-02-21-VTP-Header.md</key>
			<dict>
				<key>lastModification</key>
				<real>509422446.99012899</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>43</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>2017-02-21-VTP-Versions.md</key>
			<dict>
				<key>lastModification</key>
				<real>509416977.782058</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>42</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2017-02-22-MST.md</key>
			<dict>
				<key>lastModification</key>
				<real>509508560.24434602</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>50</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>2017-02-22-VTP-Pruning.md</key>
			<dict>
				<key>lastModification</key>
				<real>509461656.76934701</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>45</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>2017-02-23-EtherChannel-General.md</key>
			<dict>
				<key>lastModification</key>
				<real>509945707.13514602</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>86</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>2017-02-23-MST-IST-CIST.md</key>
			<dict>
				<key>lastModification</key>
				<real>509850663.468077</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>61</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>2017-02-24-EtherChannel-LACP.md</key>
			<dict>
				<key>lastModification</key>
				<real>509674053.93961501</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>55</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>2017-02-26-EtherChannel-Load-Balancing.md</key>
			<dict>
				<key>lastModification</key>
				<real>509859752.951886</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>69</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>2017-02-26-EtherChannel-PAgP.md</key>
			<dict>
				<key>lastModification</key>
				<real>509855726.32768899</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>65</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>2017-02-27-EtherChannel-MultiChassis.md</key>
			<dict>
				<key>lastModification</key>
				<real>509945036.38357198</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>79</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>2017-02-27.md</key>
			<dict>
				<key>lastModification</key>
				<real>512438903.12491202</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>187</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-03-06-CDP-Basics.md</key>
			<dict>
				<key>lastModification</key>
				<real>510540470.957295</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>89</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>2017-03-06-CDP-Configuration.md</key>
			<dict>
				<key>lastModification</key>
				<real>510545296.83980101</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>93</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>2017-03-06-LLDP.md</key>
			<dict>
				<key>lastModification</key>
				<real>510553092.18253303</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>110</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>2017-03-07-UDLD.md</key>
			<dict>
				<key>lastModification</key>
				<real>510627638.00550699</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>113</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>2017-03-08-CST.md</key>
			<dict>
				<key>lastModification</key>
				<real>510715017.20111197</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>121</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>2017-03-08-Spanning-Tree-Intro.md</key>
			<dict>
				<key>lastModification</key>
				<real>510706358.41209501</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>117</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>2017-03-09-SPAN.md</key>
			<dict>
				<key>lastModification</key>
				<real>512438916.764144</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>188</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-03-11-SPAN-Configuration.md</key>
			<dict>
				<key>lastModification</key>
				<real>512438934.67614502</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>189</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-03-13-VSS.md</key>
			<dict>
				<key>lastModification</key>
				<real>512439190.012254</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>190</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-03-17-Spanning-Tree-Types.md</key>
			<dict>
				<key>lastModification</key>
				<real>512439202.52968103</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>191</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-03-20-STP-Port-Election.md</key>
			<dict>
				<key>lastModification</key>
				<real>512439215.12028003</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>192</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-03-20-STP-Root-Bridge-Election.md</key>
			<dict>
				<key>lastModification</key>
				<real>512439229.112647</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>193</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-03-21-STP-Port-Cost.md</key>
			<dict>
				<key>lastModification</key>
				<real>512439249.96169502</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>194</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-03-26-STP-Timers.md</key>
			<dict>
				<key>lastModification</key>
				<real>512439263.113415</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>195</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-03-27-Debugging-STP.md</key>
			<dict>
				<key>lastModification</key>
				<real>512439275.646725</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>196</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-03-27-STP-BackboneFast.md</key>
			<dict>
				<key>lastModification</key>
				<real>512439289.87221903</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>197</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-03-27-STP-Portfast.md</key>
			<dict>
				<key>lastModification</key>
				<real>512439302.39788198</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>198</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-03-27-STP-UplinkFast.md</key>
			<dict>
				<key>lastModification</key>
				<real>512439313.01542598</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>199</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-03-28-STP-BPDU-Filter.md</key>
			<dict>
				<key>lastModification</key>
				<real>512439323.38096601</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>200</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-03-28-STP-BPDU-Guard.md</key>
			<dict>
				<key>lastModification</key>
				<real>512439336.71593797</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>201</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-03-28-STP-Root-Guard.md</key>
			<dict>
				<key>lastModification</key>
				<real>512439347.76432502</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>202</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-03-29-Protected-Port.md</key>
			<dict>
				<key>lastModification</key>
				<real>512527629.21396703</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>209</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-03-29-STP-Loop-Guard.md</key>
			<dict>
				<key>lastModification</key>
				<real>512500312.42145199</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>205</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-03-30-Private-VLANs.md</key>
			<dict>
				<key>lastModification</key>
				<real>512609000.09274203</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>231</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-03-30-Smartport-Macros.md</key>
			<dict>
				<key>lastModification</key>
				<real>512607305.43788397</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>225</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-03-30-Static-MAC-Address.md</key>
			<dict>
				<key>lastModification</key>
				<real>512588216.16470999</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>217</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-03-30-Storm-Control.md</key>
			<dict>
				<key>lastModification</key>
				<real>512579260.51293701</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>213</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-03-30-Voice-VLAN.md</key>
			<dict>
				<key>lastModification</key>
				<real>512608346.61835998</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>227</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-04-01-HDLC.md</key>
			<dict>
				<key>lastModification</key>
				<real>512791811.49465102</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>235</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-04-01-Multilink-PPP.md</key>
			<dict>
				<key>lastModification</key>
				<real>512798203.385674</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>247</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-04-01-PPP-Authentication.md</key>
			<dict>
				<key>lastModification</key>
				<real>512794817.46468502</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>243</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-04-01-PPP.md</key>
			<dict>
				<key>lastModification</key>
				<real>512792373.28012699</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>239</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-04-01-PPPoE.md</key>
			<dict>
				<key>lastModification</key>
				<real>513053299.559434</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>282</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-04-02-ARP.md</key>
			<dict>
				<key>lastModification</key>
				<real>512881237.59843397</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>259</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-04-02-Administrative-Distance.md</key>
			<dict>
				<key>lastModification</key>
				<real>512883331.469356</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>267</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-04-02-IPv4-Addressing.md</key>
			<dict>
				<key>lastModification</key>
				<real>512880280.74377102</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>255</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-04-02-Longest-Match-Routing.md</key>
			<dict>
				<key>lastModification</key>
				<real>512883138.66174501</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>263</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-04-03-Route-Recursion.md</key>
			<dict>
				<key>lastModification</key>
				<real>512922622.05238599</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>275</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-04-03-Static-Routing.md</key>
			<dict>
				<key>lastModification</key>
				<real>512920163.27690297</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>271</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-04-04-Default-Routing.md</key>
			<dict>
				<key>lastModification</key>
				<real>513053371.432266</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>285</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-04-04-Egress-Interface-vs-Next-Hop.md</key>
			<dict>
				<key>lastModification</key>
				<real>513051995.05784398</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>279</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-04-05-Backup-Interface.md</key>
			<dict>
				<key>lastModification</key>
				<real>513104272.61672801</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>297</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-04-05-CEF.md</key>
			<dict>
				<key>lastModification</key>
				<real>513054110.25584698</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>289</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-04-05-Floating-Static-Routes.md</key>
			<dict>
				<key>lastModification</key>
				<real>513103043.30944401</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>293</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>2017-04-05-IP-SLA-Overview.md</key>
			<dict>
				<key>lastModification</key>
				<real>513107079.84223598</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>301</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>23</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>513102365.286403</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-04-05-IP-SLA-Overview.md</string>
		</array>
		<array>
			<string>2017-04-05-Backup-Interface.md</string>
		</array>
		<array>
			<string>2017-04-05-Floating-Static-Routes.md</string>
		</array>
		<array>
			<string>2017-04-04-Default-Routing.md</string>
		</array>
		<array>
			<string>2017-04-05-CEF.md</string>
		</array>
		<array>
			<string>2017-02-20-Hello-World.md</string>
		</array>
		<array>
			<string>2017-02-20-Git.md</string>
		</array>
		<array>
			<string>2017-02-20-VLANs.md</string>
		</array>
		<array>
			<string>2017-02-21-Access-Ports.md</string>
		</array>
		<array>
			<string>2017-02-21-Dot1q.md</string>
		</array>
		<array>
			<string>2017-02-21-DTP.md</string>
		</array>
		<array>
			<string>2017-02-21-Allowed-VLANs.md</string>
		</array>
		<array>
			<string>2017-02-21-VTP-Versions.md</string>
		</array>
		<array>
			<string>2017-02-21-VTP-Header.md</string>
		</array>
		<array>
			<string>2017-02-22-VTP-Pruning.md</string>
		</array>
		<array>
			<string>2017-02-22-MST.md</string>
		</array>
		<array>
			<string>2017-02-23-MST-IST-CIST.md</string>
		</array>
		<array>
			<string>2017-02-23-EtherChannel-General.md</string>
		</array>
		<array>
			<string>2017-02-24-EtherChannel-LACP.md</string>
		</array>
		<array>
			<string>2017-02-26-EtherChannel-PAgP.md</string>
		</array>
		<array>
			<string>2017-02-26-EtherChannel-Load-Balancing.md</string>
		</array>
		<array>
			<string>2017-02-27.md</string>
		</array>
		<array>
			<string>2017-02-27-EtherChannel-MultiChassis.md</string>
		</array>
		<array>
			<string>2017-03-06-CDP-Basics.md</string>
		</array>
		<array>
			<string>2017-03-06-CDP-Configuration.md</string>
		</array>
		<array>
			<string>2017-03-06-LLDP.md</string>
		</array>
		<array>
			<string>2017-03-07-UDLD.md</string>
		</array>
		<array>
			<string>2017-03-08-Spanning-Tree-Intro.md</string>
		</array>
		<array>
			<string>2017-03-08-CST.md</string>
		</array>
		<array>
			<string>2017-03-09-SPAN.md</string>
		</array>
		<array>
			<string>2017-03-11-SPAN-Configuration.md</string>
		</array>
		<array>
			<string>2017-03-13-VSS.md</string>
		</array>
		<array>
			<string>2017-03-17-Spanning-Tree-Types.md</string>
		</array>
		<array>
			<string>2017-03-20-STP-Root-Bridge-Election.md</string>
		</array>
		<array>
			<string>2017-03-20-STP-Port-Election.md</string>
		</array>
		<array>
			<string>2017-03-26-STP-Timers.md</string>
		</array>
		<array>
			<string>2017-03-21-STP-Port-Cost.md</string>
		</array>
		<array>
			<string>2017-03-27-STP-Portfast.md</string>
		</array>
		<array>
			<string>2017-03-27-STP-UplinkFast.md</string>
		</array>
		<array>
			<string>2017-03-27-Debugging-STP.md</string>
		</array>
		<array>
			<string>2017-03-27-STP-BackboneFast.md</string>
		</array>
		<array>
			<string>2017-03-28-STP-BPDU-Guard.md</string>
		</array>
		<array>
			<string>2017-03-28-STP-Root-Guard.md</string>
		</array>
		<array>
			<string>2017-03-28-STP-BPDU-Filter.md</string>
		</array>
		<array>
			<string>2017-03-29-STP-Loop-Guard.md</string>
		</array>
		<array>
			<string>2017-03-29-Protected-Port.md</string>
		</array>
		<array>
			<string>2017-03-30-Storm-Control.md</string>
		</array>
		<array>
			<string>2017-03-30-Static-MAC-Address.md</string>
		</array>
		<array>
			<string>2017-03-30-Voice-VLAN.md</string>
		</array>
		<array>
			<string>2017-03-30-Smartport-Macros.md</string>
		</array>
		<array>
			<string>2017-03-30-Private-VLANs.md</string>
		</array>
		<array>
			<string>2017-04-01-HDLC.md</string>
		</array>
		<array>
			<string>2017-04-01-PPP.md</string>
		</array>
		<array>
			<string>2017-04-01-PPP-Authentication.md</string>
		</array>
		<array>
			<string>2017-04-01-Multilink-PPP.md</string>
		</array>
		<array>
			<string>2017-04-01-PPPoE.md</string>
		</array>
		<array>
			<string>2017-04-02-IPv4-Addressing.md</string>
		</array>
		<array>
			<string>2017-04-02-ARP.md</string>
		</array>
		<array>
			<string>2017-04-02-Longest-Match-Routing.md</string>
		</array>
		<array>
			<string>2017-04-02-Administrative-Distance.md</string>
		</array>
		<array>
			<string>2017-04-03-Static-Routing.md</string>
		</array>
		<array>
			<string>2017-04-03-Route-Recursion.md</string>
		</array>
		<array>
			<string>2017-04-04-Egress-Interface-vs-Next-Hop.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
			<integer>302</integer>
			<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
			<integer>23</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
