<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>02-27-2017-EtherChannel-Layer3.md</key>
			<dict>
				<key>lastModification</key>
				<real>509932744.57746899</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>73</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>2017-02-20-Git.md</key>
			<dict>
				<key>lastModification</key>
				<real>509319546.44117898</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2017-02-20-Hello-World.md</key>
			<dict>
				<key>lastModification</key>
				<real>509319521.770356</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>2017-02-20-VLANs.md</key>
			<dict>
				<key>lastModification</key>
				<real>509320886.45471102</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>2017-02-21-Access-Ports.md</key>
			<dict>
				<key>lastModification</key>
				<real>509370972.80973601</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>23</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>2017-02-21-Allowed-VLANs.md</key>
			<dict>
				<key>lastModification</key>
				<real>509395294.733217</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>37</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2017-02-21-DTP.md</key>
			<dict>
				<key>lastModification</key>
				<real>509394334.06249499</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>30</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2017-02-21-Dot1q.md</key>
			<dict>
				<key>lastModification</key>
				<real>509387508.06077999</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>26</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2017-02-21-VTP-Header.md</key>
			<dict>
				<key>lastModification</key>
				<real>509422446.99012899</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>43</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>2017-02-21-VTP-Versions.md</key>
			<dict>
				<key>lastModification</key>
				<real>509416977.782058</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>42</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2017-02-22-MST.md</key>
			<dict>
				<key>lastModification</key>
				<real>509508560.24434602</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>50</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>2017-02-22-VTP-Pruning.md</key>
			<dict>
				<key>lastModification</key>
				<real>509461656.76934701</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>45</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>2017-02-23-EtherChannel-General.md</key>
			<dict>
				<key>lastModification</key>
				<real>509945707.13514602</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>86</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>2017-02-23-MST-IST-CIST.md</key>
			<dict>
				<key>lastModification</key>
				<real>509850663.468077</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>61</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>2017-02-23-MST-IST.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>510502833.88167298</real>
				<key>lastModification</key>
				<real>510502833.88167298</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>57</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>2017-02-24-EtherChannel-LACP.md</key>
			<dict>
				<key>lastModification</key>
				<real>509674053.93961501</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>55</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>2017-02-26-EtherChannel-Load-Balancing.md</key>
			<dict>
				<key>lastModification</key>
				<real>509859752.951886</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>69</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>2017-02-26-EtherChannel-PAgP.md</key>
			<dict>
				<key>lastModification</key>
				<real>509855726.32768899</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>65</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>2017-02-27-EtherChannel-MultiChassis.md</key>
			<dict>
				<key>lastModification</key>
				<real>509945036.38357198</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>79</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>2017-03-06-CDP-Basics.md</key>
			<dict>
				<key>lastModification</key>
				<real>510540470.957295</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>89</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>2017-03-06-CDP-Configuration.md</key>
			<dict>
				<key>lastModification</key>
				<real>510545296.83980101</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>93</integer>
					<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
					<integer>18</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-02-20-Hello-World.md</string>
		</array>
		<array>
			<string>2017-02-20-Git.md</string>
		</array>
		<array>
			<string>2017-02-20-VLANs.md</string>
		</array>
		<array>
			<string>2017-02-21-Access-Ports.md</string>
		</array>
		<array>
			<string>2017-02-21-Dot1q.md</string>
		</array>
		<array>
			<string>2017-02-21-DTP.md</string>
		</array>
		<array>
			<string>2017-02-21-Allowed-VLANs.md</string>
		</array>
		<array>
			<string>2017-02-21-VTP-Versions.md</string>
		</array>
		<array>
			<string>2017-02-21-VTP-Header.md</string>
		</array>
		<array>
			<string>2017-02-22-VTP-Pruning.md</string>
		</array>
		<array>
			<string>2017-02-22-MST.md</string>
		</array>
		<array>
			<string>2017-02-23-MST-IST-CIST.md</string>
		</array>
		<array>
			<string>2017-02-23-EtherChannel-General.md</string>
		</array>
		<array>
			<string>2017-02-24-EtherChannel-LACP.md</string>
		</array>
		<array>
			<string>2017-02-26-EtherChannel-PAgP.md</string>
		</array>
		<array>
			<string>2017-02-26-EtherChannel-Load-Balancing.md</string>
		</array>
		<array>
			<string>02-27-2017-EtherChannel-Layer3.md</string>
		</array>
		<array>
			<string>2017-02-27-EtherChannel-MultiChassis.md</string>
		</array>
		<array>
			<string>2017-02-23-MST-IST.md</string>
		</array>
		<array>
			<string>2017-03-06-CDP-Basics.md</string>
		</array>
		<array>
			<string>2017-03-06-CDP-Configuration.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
			<integer>94</integer>
			<key>E7FA19B7-8383-4EF7-A8CA-7797840CF780</key>
			<integer>18</integer>
		</dict>
	</dict>
</dict>
</plist>
