<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>1.1.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>515271909.68874598</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>1.1.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>515271941.03825599</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>1.1.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>515271980.95794702</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>1.1.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>515272154.75935</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>1.1.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>515273810.21004403</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>1.1.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>515273762.61622</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>1.1.7.md</key>
			<dict>
				<key>lastModification</key>
				<real>515273873.525778</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>1.1.8.md</key>
			<dict>
				<key>lastModification</key>
				<real>515273924.476448</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>1.1.99.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>515295167.608657</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>211</integer>
				</dict>
			</dict>
			<key>1.1.99.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>515295205.64430398</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>213</integer>
				</dict>
			</dict>
			<key>1.1.99.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>515295292.825553</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>215</integer>
				</dict>
			</dict>
			<key>1.1.99.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>515295440.62052703</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>218</integer>
				</dict>
			</dict>
			<key>1.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>515295481.56851101</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>220</integer>
				</dict>
			</dict>
			<key>1.2.0.99.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>515274216.340496</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>1.2.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>515273981.31522399</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>1.2.2 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>515274055.481529</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>1.2.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>515274122.664092</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>1.2.4 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>515274269.63150299</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>43</integer>
				</dict>
			</dict>
			<key>1.2.5 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>515274328.61914998</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>47</integer>
				</dict>
			</dict>
			<key>1.3.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>515274889.38594502</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>73</integer>
				</dict>
			</dict>
			<key>1.3.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>515274473.957955</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>55</integer>
				</dict>
			</dict>
			<key>1.3.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>515274522.14180702</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>57</integer>
				</dict>
			</dict>
			<key>1.3.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>515274565.13386297</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>59</integer>
				</dict>
			</dict>
			<key>1.3.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>515274704.01641297</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>63</integer>
				</dict>
			</dict>
			<key>1.3.6 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>515274758.66755199</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>67</integer>
				</dict>
			</dict>
			<key>1.3.7 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>515274806.10947198</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>71</integer>
				</dict>
			</dict>
			<key>1.3.99.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>515274949.28758901</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>76</integer>
				</dict>
			</dict>
			<key>1.4.0.99.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>515276588.26908499</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>90</integer>
				</dict>
			</dict>
			<key>1.4.0.99.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>515276607.71354598</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>94</integer>
				</dict>
			</dict>
			<key>1.4.0.99.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>515276602.38512403</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>92</integer>
				</dict>
			</dict>
			<key>1.4.1.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>515276245.79087597</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>78</integer>
				</dict>
			</dict>
			<key>1.4.1.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>515276329.696284</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>80</integer>
				</dict>
			</dict>
			<key>1.4.1.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>515276650.64001203</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>98</integer>
				</dict>
			</dict>
			<key>1.4.1.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>515292904.68104303</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>121</integer>
				</dict>
			</dict>
			<key>1.4.1.99.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>515293021.26857299</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>125</integer>
				</dict>
			</dict>
			<key>1.4.2.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>515292461.86423397</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>104</integer>
				</dict>
			</dict>
			<key>1.4.2.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>515292512.158723</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>106</integer>
				</dict>
			</dict>
			<key>1.4.2.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>515292746.01407802</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>116</integer>
				</dict>
			</dict>
			<key>1.4.2.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>515292615.86529201</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>110</integer>
				</dict>
			</dict>
			<key>1.4.2.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>515292671.48892498</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>112</integer>
				</dict>
			</dict>
			<key>1.4.2.99.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>515292853.46060902</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>118</integer>
				</dict>
			</dict>
			<key>1.4.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>515292712.79601502</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>114</integer>
				</dict>
			</dict>
			<key>1.4.3.1 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>515293232.38946003</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>137</integer>
				</dict>
			</dict>
			<key>1.4.3.2 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>515293225.345101</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>135</integer>
				</dict>
			</dict>
			<key>1.4.4.1 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>515293359.64916098</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>147</integer>
				</dict>
			</dict>
			<key>1.4.4.2 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>515293355.41075802</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>145</integer>
				</dict>
			</dict>
			<key>1.4.4.3 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>515293431.51879603</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>153</integer>
				</dict>
			</dict>
			<key>1.4.4.4 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>515293472.40408802</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>157</integer>
				</dict>
			</dict>
			<key>1.4.4.5 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>515293562.19435602</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>163</integer>
				</dict>
			</dict>
			<key>1.6.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>515293638.00058001</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>165</integer>
				</dict>
			</dict>
			<key>1.6.10.md</key>
			<dict>
				<key>lastModification</key>
				<real>515293950.66114002</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>193</integer>
				</dict>
			</dict>
			<key>1.6.11.md</key>
			<dict>
				<key>lastModification</key>
				<real>515294001.35565001</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>197</integer>
				</dict>
			</dict>
			<key>1.6.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>515293665.19852298</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>167</integer>
				</dict>
			</dict>
			<key>1.6.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>515293697.01413602</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>169</integer>
				</dict>
			</dict>
			<key>1.6.4 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>515293733.22842199</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>173</integer>
				</dict>
			</dict>
			<key>1.6.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>515299537.86672002</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>229</integer>
				</dict>
			</dict>
			<key>1.6.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>515299530.73878098</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>227</integer>
				</dict>
			</dict>
			<key>1.6.7.md</key>
			<dict>
				<key>lastModification</key>
				<real>515299524.24996102</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>225</integer>
				</dict>
			</dict>
			<key>1.6.9.md</key>
			<dict>
				<key>lastModification</key>
				<real>515293873.51031798</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>189</integer>
				</dict>
			</dict>
			<key>2.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>515294079.52285397</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>201</integer>
				</dict>
			</dict>
			<key>2.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>515294135.07879502</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>203</integer>
				</dict>
			</dict>
			<key>2.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>515294902.93143898</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>205</integer>
				</dict>
			</dict>
			<key>2.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>515294943.80534899</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>207</integer>
				</dict>
			</dict>
			<key>2.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>515295028.98619401</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>209</integer>
				</dict>
			</dict>
			<key>2017-02-22-MST.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>515298801.970002</real>
				<key>lastModification</key>
				<real>515298801.970002</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>223</integer>
				</dict>
			</dict>
			<key>2017-02-23-EtherChannel-General.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>515274895.77756</real>
				<key>lastModification</key>
				<real>515274895.77756</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>75</integer>
				</dict>
			</dict>
			<key>2017-02-23-MST-IST-CIST.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>515298766.41916502</real>
				<key>lastModification</key>
				<real>515298766.41916502</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>222</integer>
				</dict>
			</dict>
			<key>2017-03-06-CDP-Configuration.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>515295352.28928101</real>
				<key>lastModification</key>
				<real>515295352.28928101</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>217</integer>
				</dict>
			</dict>
			<key>2017-03-08-CST.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>515298817.27013898</real>
				<key>lastModification</key>
				<real>515298817.27013898</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>224</integer>
				</dict>
			</dict>
			<key>2017-03-09-SPAN.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>515299563.780738</real>
				<key>lastModification</key>
				<real>515299563.780738</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>231</integer>
				</dict>
			</dict>
			<key>2017-03-11-SPAN-Configuration.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>515299566.29027098</real>
				<key>lastModification</key>
				<real>515299566.29027098</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>232</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>515274820.51416898</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>1.6.9.md</string>
		</array>
		<array>
			<string>1.6.7.md</string>
		</array>
		<array>
			<string>1.6.6.md</string>
		</array>
		<array>
			<string>1.6.5.md</string>
		</array>
		<array>
			<string>1.6.4 - TBC.md</string>
		</array>
		<array>
			<string>1.4.4.5 - TBC.md</string>
		</array>
		<array>
			<string>1.4.4.4 - TBC.md</string>
		</array>
		<array>
			<string>1.4.4.3 - TBC.md</string>
		</array>
		<array>
			<string>1.4.4.2 - TBC.md</string>
		</array>
		<array>
			<string>1.4.4.1 - TBC.md</string>
		</array>
		<array>
			<string>1.4.3.2 - TBC.md</string>
		</array>
		<array>
			<string>1.4.3.1 - TBC.md</string>
		</array>
		<array>
			<string>1.4.1.4.md</string>
		</array>
		<array>
			<string>1.4.1.3.md</string>
		</array>
		<array>
			<string>1.1.1.md</string>
		</array>
		<array>
			<string>1.1.2.md</string>
		</array>
		<array>
			<string>1.1.3.md</string>
		</array>
		<array>
			<string>1.1.4.md</string>
		</array>
		<array>
			<string>1.1.5.md</string>
		</array>
		<array>
			<string>1.1.6.md</string>
		</array>
		<array>
			<string>1.1.7.md</string>
		</array>
		<array>
			<string>1.1.8.md</string>
		</array>
		<array>
			<string>1.2.1.md</string>
		</array>
		<array>
			<string>1.2.0.99.1.md</string>
		</array>
		<array>
			<string>1.2.2 - TBC.md</string>
		</array>
		<array>
			<string>1.2.3.md</string>
		</array>
		<array>
			<string>1.2.4 - TBC.md</string>
		</array>
		<array>
			<string>1.2.5 - TBC.md</string>
		</array>
		<array>
			<string>1.3.1.md</string>
		</array>
		<array>
			<string>2017-02-22-MST.md</string>
		</array>
		<array>
			<string>2017-02-23-MST-IST-CIST.md</string>
		</array>
		<array>
			<string>1.3.3.md</string>
		</array>
		<array>
			<string>1.3.2.md</string>
		</array>
		<array>
			<string>1.3.5.md</string>
		</array>
		<array>
			<string>1.3.6 - TBC.md</string>
		</array>
		<array>
			<string>1.3.7 - TBC.md</string>
		</array>
		<array>
			<string>1.3.4.md</string>
		</array>
		<array>
			<string>1.3.99.1.md</string>
		</array>
		<array>
			<string>2017-02-23-EtherChannel-General.md</string>
		</array>
		<array>
			<string>1.6.1.md</string>
		</array>
		<array>
			<string>2017-03-06-CDP-Configuration.md</string>
		</array>
		<array>
			<string>1.6.2.md</string>
		</array>
		<array>
			<string>1.6.3.md</string>
		</array>
		<array>
			<string>1.4.0.99.1.md</string>
		</array>
		<array>
			<string>2017-03-08-CST.md</string>
		</array>
		<array>
			<string>2017-03-09-SPAN.md</string>
		</array>
		<array>
			<string>2017-03-11-SPAN-Configuration.md</string>
		</array>
		<array>
			<string>1.1.99.4.md</string>
		</array>
		<array>
			<string>1.4.0.99.2.md</string>
		</array>
		<array>
			<string>1.4.1.1.md</string>
		</array>
		<array>
			<string>1.4.1.2.md</string>
		</array>
		<array>
			<string>1.4.0.99.3.md</string>
		</array>
		<array>
			<string>1.4.2.1.md</string>
		</array>
		<array>
			<string>1.4.2.2.md</string>
		</array>
		<array>
			<string>1.4.1.99.1.md</string>
		</array>
		<array>
			<string>1.4.2.3.md</string>
		</array>
		<array>
			<string>1.4.2.4.md</string>
		</array>
		<array>
			<string>1.4.2.5.md</string>
		</array>
		<array>
			<string>1.4.2.md</string>
		</array>
		<array>
			<string>1.4.2.99.1.md</string>
		</array>
		<array>
			<string>1.1.99.1.md</string>
		</array>
		<array>
			<string>1.1.99.3.md</string>
		</array>
		<array>
			<string>1.1.md</string>
		</array>
		<array>
			<string>1.6.10.md</string>
		</array>
		<array>
			<string>1.6.11.md</string>
		</array>
		<array>
			<string>1.1.99.2.md</string>
		</array>
		<array>
			<string>2.1.md</string>
		</array>
		<array>
			<string>2.2.md</string>
		</array>
		<array>
			<string>2.3.md</string>
		</array>
		<array>
			<string>2.4.md</string>
		</array>
		<array>
			<string>2.5.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
			<integer>232</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
