<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>3.3.2-passive-interfaces.md</key>
			<dict>
				<key>lastModification</key>
				<real>514692552.73835498</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>55</integer>
				</dict>
			</dict>
			<key>3.3.3-Routing-Protocol-Authentication.md</key>
			<dict>
				<key>lastModification</key>
				<real>514668327.92833102</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>3.3.4-Route-Filtering.md</key>
			<dict>
				<key>lastModification</key>
				<real>514668703.94193101</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>3.3.5-Auto-Summarization.md</key>
			<dict>
				<key>lastModification</key>
				<real>514673571.40298098</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>3.3.6-Manual-Summarization.md</key>
			<dict>
				<key>lastModification</key>
				<real>514673603.65594298</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>3.3.7.1-RR-Prefix-Filtering-Route-Tagging.md</key>
			<dict>
				<key>lastModification</key>
				<real>514673641.233836</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>3.3.7.2-RR-Prefix-Filtering-Manual-Lists.md</key>
			<dict>
				<key>lastModification</key>
				<real>514673771.99413598</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>3.3.7.3-RR-Prefix-Filtering-AD.md</key>
			<dict>
				<key>lastModification</key>
				<real>514673735.36126602</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>3.3.7.4-RR-AD-Based-Loops.md</key>
			<dict>
				<key>lastModification</key>
				<real>514673893.83137703</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>53</integer>
				</dict>
			</dict>
			<key>3.3.7.5-RR-Metric-Based_loops.md</key>
			<dict>
				<key>lastModification</key>
				<real>514673883.75983101</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>name- Passive Interfaces.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>514668288.74414903</real>
				<key>lastModification</key>
				<real>514668288.74414903</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>9</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>3.3.2-passive-interfaces.md</string>
		</array>
		<array>
			<string>name- Passive Interfaces.md</string>
		</array>
		<array>
			<string>3.3.3-Routing-Protocol-Authentication.md</string>
		</array>
		<array>
			<string>3.3.4-Route-Filtering.md</string>
		</array>
		<array>
			<string>3.3.5-Auto-Summarization.md</string>
		</array>
		<array>
			<string>3.3.6-Manual-Summarization.md</string>
		</array>
		<array>
			<string>3.3.7.1-RR-Prefix-Filtering-Route-Tagging.md</string>
		</array>
		<array>
			<string>3.3.7.4-RR-AD-Based-Loops.md</string>
		</array>
		<array>
			<string>3.3.7.5-RR-Metric-Based_loops.md</string>
		</array>
		<array>
			<string>3.3.7.2-RR-Prefix-Filtering-Manual-Lists.md</string>
		</array>
		<array>
			<string>3.3.7.3-RR-Prefix-Filtering-AD.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
			<integer>55</integer>
		</dict>
	</dict>
</dict>
</plist>
