<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2017-04-09-Policy-Routing-Default-Next-Hop.md</key>
			<dict>
				<key>lastModification</key>
				<real>514700949.404549</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>2017-04-09-Policy-Routing-Order-Of-Operation.md</key>
			<dict>
				<key>lastModification</key>
				<real>514700949.404549</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>2017-04-09-Policy-Routing-Verify-Availability.md</key>
			<dict>
				<key>lastModification</key>
				<real>514700949.40454799</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>2017-04-10-Backup-Interface-Keepalive.md</key>
			<dict>
				<key>lastModification</key>
				<real>514700949.40455002</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>2017-04-16-IPv6-Address-Types.md</key>
			<dict>
				<key>lastModification</key>
				<real>514700949.40455198</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>2017-04-16-IPv6-General.md</key>
			<dict>
				<key>lastModification</key>
				<real>514700949.40455103</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>2017-04-17-IPv6-Neighbor-Discovery-Protocol.md</key>
			<dict>
				<key>lastModification</key>
				<real>514700949.40455198</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>3.1.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>514700949.40453303</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>3.1.10.md</key>
			<dict>
				<key>lastModification</key>
				<real>514700949.40454298</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>3.1.11.md</key>
			<dict>
				<key>lastModification</key>
				<real>514700949.404544</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>3.1.12.md</key>
			<dict>
				<key>lastModification</key>
				<real>514700949.40454501</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>3.1.13.md</key>
			<dict>
				<key>lastModification</key>
				<real>514700949.40454602</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>3.1.14.md</key>
			<dict>
				<key>lastModification</key>
				<real>514700949.40454698</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>3.1.15.md</key>
			<dict>
				<key>lastModification</key>
				<real>514700973.88446599</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>102</integer>
				</dict>
			</dict>
			<key>3.1.16.md</key>
			<dict>
				<key>lastModification</key>
				<real>514700995.97974402</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>104</integer>
				</dict>
			</dict>
			<key>3.1.17.md</key>
			<dict>
				<key>lastModification</key>
				<real>514701035.259408</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>106</integer>
				</dict>
			</dict>
			<key>3.1.18.md</key>
			<dict>
				<key>lastModification</key>
				<real>514701083.81576598</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>108</integer>
				</dict>
			</dict>
			<key>3.1.19.md</key>
			<dict>
				<key>lastModification</key>
				<real>514701149.00822997</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>110</integer>
				</dict>
			</dict>
			<key>3.1.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>514700949.40453398</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>3.1.20.md</key>
			<dict>
				<key>lastModification</key>
				<real>514701191.46919602</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>112</integer>
				</dict>
			</dict>
			<key>3.1.21.md</key>
			<dict>
				<key>lastModification</key>
				<real>514701245.15636498</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>114</integer>
				</dict>
			</dict>
			<key>3.1.22.md</key>
			<dict>
				<key>lastModification</key>
				<real>514701297.633452</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>118</integer>
				</dict>
			</dict>
			<key>3.1.23 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>514741173.17191601</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>146</integer>
				</dict>
			</dict>
			<key>3.1.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>514700949.40453601</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>3.1.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>514700949.40453702</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>3.1.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>514700949.40453798</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>3.1.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>514700949.40453899</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>3.1.7.md</key>
			<dict>
				<key>lastModification</key>
				<real>514700949.40454</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>3.1.8.md</key>
			<dict>
				<key>lastModification</key>
				<real>514700949.40454102</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>3.1.9.md</key>
			<dict>
				<key>lastModification</key>
				<real>514700949.40454203</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>101</integer>
				</dict>
			</dict>
			<key>3.2.1 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>514749433.28576499</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>152</integer>
				</dict>
			</dict>
			<key>3.2.10 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>514751193.40772802</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>182</integer>
				</dict>
			</dict>
			<key>3.2.11 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>514751276.94859499</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>186</integer>
				</dict>
			</dict>
			<key>3.2.12 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>514751310.87550902</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>190</integer>
				</dict>
			</dict>
			<key>3.2.13 - ISATAP Tunneling.md</key>
			<dict>
				<key>lastModification</key>
				<real>514751349.87313098</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>194</integer>
				</dict>
			</dict>
			<key>3.2.2 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>514749504.31544501</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>156</integer>
				</dict>
			</dict>
			<key>3.2.3 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>514749538.07751203</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>160</integer>
				</dict>
			</dict>
			<key>3.2.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>514701446.04456502</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>124</integer>
				</dict>
			</dict>
			<key>3.2.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>514701513.73005301</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>126</integer>
				</dict>
			</dict>
			<key>3.2.6 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>514750856.70038998</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>164</integer>
				</dict>
			</dict>
			<key>3.2.7 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>514750960.39996898</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>168</integer>
				</dict>
			</dict>
			<key>3.2.8 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>514751014.88459897</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>172</integer>
				</dict>
			</dict>
			<key>3.2.9 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>514751079.57984602</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>176</integer>
				</dict>
			</dict>
			<key>3.3.1 - TBC.md</key>
			<dict>
				<key>lastModification</key>
				<real>514751549.73599201</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>198</integer>
				</dict>
			</dict>
			<key>3.3.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>514699027.99569899</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>72</integer>
				</dict>
			</dict>
			<key>3.3.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>514701546.09778702</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>128</integer>
				</dict>
			</dict>
			<key>3.3.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>514701550.56316602</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>130</integer>
				</dict>
			</dict>
			<key>3.3.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>514701556.711815</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>132</integer>
				</dict>
			</dict>
			<key>3.3.6.md</key>
			<dict>
				<key>lastModification</key>
				<real>514701566.28058797</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>134</integer>
				</dict>
			</dict>
			<key>3.3.7.1.md</key>
			<dict>
				<key>lastModification</key>
				<real>514701573.92036098</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>136</integer>
				</dict>
			</dict>
			<key>3.3.7.2.md</key>
			<dict>
				<key>lastModification</key>
				<real>514701582.57553202</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>138</integer>
				</dict>
			</dict>
			<key>3.3.7.3.md</key>
			<dict>
				<key>lastModification</key>
				<real>514701663.10128099</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>140</integer>
				</dict>
			</dict>
			<key>3.3.7.4.md</key>
			<dict>
				<key>lastModification</key>
				<real>514701674.06889802</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>142</integer>
				</dict>
			</dict>
			<key>3.3.7.5.md</key>
			<dict>
				<key>lastModification</key>
				<real>514701682.62867498</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>144</integer>
				</dict>
			</dict>
			<key>Untitled.md</key>
			<dict>
				<key>lastModification</key>
				<real>514751089.72940701</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>179</integer>
				</dict>
			</dict>
			<key>name- Passive Interfaces.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>514668288.74414903</real>
				<key>lastModification</key>
				<real>514668288.74414903</real>
				<key>version</key>
				<dict>
					<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
					<integer>9</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>514696263.46815503</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>3.3.1 - TBC.md</string>
		</array>
		<array>
			<string>3.2.13 - ISATAP Tunneling.md</string>
		</array>
		<array>
			<string>3.2.12 - TBC.md</string>
		</array>
		<array>
			<string>3.2.11 - TBC.md</string>
		</array>
		<array>
			<string>3.2.10 - TBC.md</string>
		</array>
		<array>
			<string>Untitled.md</string>
		</array>
		<array>
			<string>3.2.9 - TBC.md</string>
		</array>
		<array>
			<string>3.2.8 - TBC.md</string>
		</array>
		<array>
			<string>3.2.7 - TBC.md</string>
		</array>
		<array>
			<string>3.2.6 - TBC.md</string>
		</array>
		<array>
			<string>3.2.3 - TBC.md</string>
		</array>
		<array>
			<string>3.2.2 - TBC.md</string>
		</array>
		<array>
			<string>3.2.1 - TBC.md</string>
		</array>
		<array>
			<string>3.1.23 - TBC.md</string>
		</array>
		<array>
			<string>3.1.15.md</string>
		</array>
		<array>
			<string>3.3.2.md</string>
		</array>
		<array>
			<string>name- Passive Interfaces.md</string>
		</array>
		<array>
			<string>3.3.3.md</string>
		</array>
		<array>
			<string>3.3.4.md</string>
		</array>
		<array>
			<string>3.3.5.md</string>
		</array>
		<array>
			<string>3.3.6.md</string>
		</array>
		<array>
			<string>3.3.7.1.md</string>
		</array>
		<array>
			<string>3.3.7.4.md</string>
		</array>
		<array>
			<string>3.3.7.5.md</string>
		</array>
		<array>
			<string>3.3.7.2.md</string>
		</array>
		<array>
			<string>3.3.7.3.md</string>
		</array>
		<array>
			<string>3.1.1.md</string>
		</array>
		<array>
			<string>3.1.2.md</string>
		</array>
		<array>
			<string>3.1.3.md</string>
		</array>
		<array>
			<string>3.1.4.md</string>
		</array>
		<array>
			<string>3.1.5.md</string>
		</array>
		<array>
			<string>3.1.6.md</string>
		</array>
		<array>
			<string>3.1.7.md</string>
		</array>
		<array>
			<string>3.1.8.md</string>
		</array>
		<array>
			<string>3.1.9.md</string>
		</array>
		<array>
			<string>3.1.10.md</string>
		</array>
		<array>
			<string>3.1.11.md</string>
		</array>
		<array>
			<string>3.1.12.md</string>
		</array>
		<array>
			<string>3.1.13.md</string>
		</array>
		<array>
			<string>3.1.14.md</string>
		</array>
		<array>
			<string>3.1.16.md</string>
		</array>
		<array>
			<string>3.1.17.md</string>
		</array>
		<array>
			<string>2017-04-09-Policy-Routing-Verify-Availability.md</string>
		</array>
		<array>
			<string>2017-04-09-Policy-Routing-Default-Next-Hop.md</string>
		</array>
		<array>
			<string>2017-04-09-Policy-Routing-Order-Of-Operation.md</string>
		</array>
		<array>
			<string>3.1.18.md</string>
		</array>
		<array>
			<string>3.1.19.md</string>
		</array>
		<array>
			<string>2017-04-10-Backup-Interface-Keepalive.md</string>
		</array>
		<array>
			<string>3.1.20.md</string>
		</array>
		<array>
			<string>3.1.21.md</string>
		</array>
		<array>
			<string>3.1.22.md</string>
		</array>
		<array>
			<string>2017-04-16-IPv6-General.md</string>
		</array>
		<array>
			<string>2017-04-16-IPv6-Address-Types.md</string>
		</array>
		<array>
			<string>3.2.4.md</string>
		</array>
		<array>
			<string>2017-04-17-IPv6-Neighbor-Discovery-Protocol.md</string>
		</array>
		<array>
			<string>3.2.5.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
			<integer>199</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>23a8b942e2ef3cafeaf442c169aed0ebaaaff954f5cbed1c020dbca3d78f8798</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
